
# xcode noise
DerivedData
xcuserdata/
project.xcworkspace/
build/*
*.xcuserstate

# osx noise
.DS_Store

# appcode
.idea
!.idea/codeStyleSettings.xml

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
*.xcuserstate
